Makefile
Makefile.in
*~
*.kate-swp
*.log
*.orig
*.pyc
*.pyo
*.rej
*.spec
*.tar.gz
*.tar.gz.gpg
aclocal.m4
autom4te.cache/
bin/rebuild.sh
bin/test*
ChangeLog
conf/*-*.conf
config.log
config.status
configure
po/*.gmo
po/*.mo
po/POTFILES
pykolab/constants.py
pykolab-[0-9]*.*/
src/
test-*
